<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">
<head th:replace="Plantilla/Template :: head">
<meta charset="utf-8">


</head>

<body>
	<header th:replace="Plantilla/Template :: header"></header>
 <div class="breadcrumbs-area section-padding">
            <div class="container"  style="padding-top: 200px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center text-white text-uppercase" >
                                                      
                                         <ul>
                                        <li><a th:href="@{/}" >Home</a></li>
                                       
                                    </ul>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
          <div class="col-md-6 ">
                            <div class="registered-customers">
                                <div class="section-title text-uppercase mb-40">
                                    <h4 th:text="${titulo}"></h4>
                                    <h4 th:text="${idSocio}"></h4>
                                </div>
                                <form th:action="@{/views/socios/confirmar}" th:object="${socio}" method="post">
                                    <div class="login-account p-30 box-shadow">
                                        <div class="row">
                                            <div class="col-sm-6">
                                            
                                                <input  type="text" name="codigo"  th:value="@{0000}" placeholder="CODIGO " id="codigo">
                                               
                                            </div>
                                             <div>
                                        
                                        <input type="hidden"  name="id" th:value="${idSocio}">
                                         
                                        </div>
                                        
                                        
                                        
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input  type="submit" class="submit-btn mt-20" value="Guardar"/>
                                                 <input type="reset" class="submit-btn mt-20"/>
                                            </div>
                                            <div class="col-md-6">
                                               
                                            </div>
                                        </div>
                                        
                                    </div>
                                    </div>
                                </form>
                            </div>
                            </div>
  						 </div>
                            <footer th:replace="Plantilla/Template :: footer"></footer>
        

	<!-- /////////////////////////////////////////////////FIN DE CUERPO/////////////////////////////// -->

	
</body>
