<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">

		
	
								
	
		
				
	

		
		<div class="container">
	
		
		<div th:fragment="barraS" id="barraS" class="header-top-bar   ptb-1 navbar-fixed-top " 
		style="background-color:transparent;">
		
		<div class="text-center" style="padding-top:0px;">
 		 <img src="/images/logo/L1.png" class="img-thumbnail"/>
		</div>
		
		
<div class="card" style="width: 18rem;">
<div class="card-body">
<a href="/" class="btn btn-primary stretched-link">GO</a>
</div>
</div>

</div>

		</div>
