<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">

<head th:fragment="head">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>PITSAPP</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

<!-- All css files are included here -->
<!-- Bootstrap fremwork main css -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- This core.css file contents all plugings css file. -->
<link rel="stylesheet" href="/css/core.css">
<!-- Theme shortcodes/elements style -->
<link rel="stylesheet" href="/css/shortcode/shortcodes.css">
<!-- Theme main style -->
<link rel="stylesheet" href="/style.css">
<!-- Responsive css -->
<link rel="stylesheet" href="/css/responsive.css">
<!-- User style -->
<link rel="stylesheet" href="/css/custom.css">

<!-- Modernizr JS -->
<script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>


<header th:fragment="header">
	<div class="wrapper">
		<!-- Start of header area -->


		<div class="header-top-bar  white-bg ptb-20 navbar-fixed-top ">

			<div class="container ">
				<div class="row">

					<div class="col-sm-4">
						<div class="">
							<a href="/"> <img alt="" src="/images/gallery/logopits1.png" height="60px" width="120px">
							</a>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="header-top header-top-right">
							<ul>
								<li class="lh-50"><a th:href="@{/views/socios/registrar}" class="pr-20 text-uppercase">Ingresar</a>
								</li>


								<li class="lh-50"><a th:href="@{/views/socios/registrar}" class="prl-20 text-uppercase">Registrate</a></li>



								<li class="cart-link lh-50"><a href="#" class="pl-20">
										<i class="zmdi zmdi-shopping-cart"></i> <span>5</span>
								</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>


		</div>


	</div>
</header>


<footer th:fragment="footer" id="footer" class="footer-area">
	<div class="section-padding"></div>
	<div class="footer-top-area gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="footer-widget">
						<div class="footer-widget-img pb-30">
							<a href="#"> <img src="images/logo/LOGO1.png" alt="">
							</a>
						</div>
						<ul class="toggle-footer text-white">
							<li class="mb-30 pl-45"><i class="zmdi zmdi-pin"></i>
								<p>
									VALLE DE LOS CHILLOS, <br> San Rafael
								</p></li>
							<li class="mb-30 pl-45"><i class="zmdi zmdi-email"></i>
								<p>
									Username@gmail.com <br> XXXX@gmail.com
								</p></li>
							<li class="pl-45"><i class="zmdi zmdi-phone"></i>
								<p>
									+593 2346 857<br> +593 995787385
								</p></li>
						</ul>
					</div>
				</div>


				<div class="col-md-3 col-sm-6">
					<div class="text-white footer-about-us">
						<h4 class="pb-40 m-0 text-uppercase">SOBRE NOSOTROS</h4>
						<p>XXXXXXXXXXX.</p>
						<ul class="footer-social-icon">
							<li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
							<li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
							<li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
							<li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
							<li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom black-bg ptb-15">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="copyright text-white">
						<p>
							Copyright <i class="fa fa-copyright"></i> 2020 <a
								href="https://GOOGLE.com/" target="_blank">CADMETRONICS.</a> All
							rights reserved.
						</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="footer-img">
						<img src="/images/payment.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/vendor/jquery-3.1.1.min.js"></script>
	<!-- Bootstrap framework js -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Particles js -->
	<script src="/js/particles.js"></script>
	<!-- All js plugins included in this file. -->
	<script src="/js/plugins.js"></script>
	<!-- Main js file that contents all jQuery plugins activation. -->
	<script src="/js/main.js"></script>
</footer>
<!-- End footer area -->


<div th:fragment="vistarapida" id="vistarapida"> <!--Quickview Product Start -->
<div id="quickview-wrapper">
	<!-- Modal -->
	<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="modal-product">
						<div class="single-product-image">
							<div id="product-img-content">
								<div id="my-tab-content" class="tab-content mb-20">
									<div class="tab-pane b-img active" id="view1">
										<a class="venobox" href="images/product/product-details/1.jpg"
											data-gall="gallery" title=""><img
											src="images/product/product-details/1.jpg" alt=""></a>
									</div>
									<div class="tab-pane b-img" id="view2">
										<a class="venobox" href="images/product/product-details/2.jpg"
											data-gall="gallery" title=""><img
											src="images/product/product-details/2.jpg" alt=""></a>
									</div>
									<div class="tab-pane b-img" id="view3">
										<a class="venobox" href="images/product/product-details/3.jpg"
											data-gall="gallery" title=""><img
											src="images/product/product-details/3.jpg" alt=""></a>
									</div>
									<div class="tab-pane b-img" id="view4">
										<a class="venobox" href="images/product/product-details/4.jpg"
											data-gall="gallery" title=""><img
											src="images/product/product-details/4.jpg" alt=""></a>
									</div>
								</div>
							
							</div>
						</div>
						<div class="product-details-content">
							<div class="product-content text-uppercase">
								<a href="product-details.html" title="Slim Shirt With Stretch">PRODUCTO</a>
								<div class="rating-icon pb-20 mt-10">
									<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i> <i
										class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star-half"></i>
									<i class="zmdi zmdi-star-half"></i>
								</div>
								<div class="product-price pb-20">
									<span class="new-price">$ OFERTA</span> <span class="old-price">$ PRECIO</span>
								</div>
							</div>
							<div class="product-view pb-20">
								<h4 class="product-details-tilte text-uppercase">Detalle</h4>
								<p>aaaaaaaaaaaaaaaaaaa.</p>
							</div>
						
						
							<div class="product-action-shop text-center mb-30">
								<a href="/producto" title="Producto"> <i class="zmdi zmdi-eye"></i>
								</a> 
								
							</div>
						</div>
						<!-- .product-info -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End of Quickview Product--> 
</div>








<!-- Body main wrapper end -->

<!-- Placed js at the end of the document so the pages load faster -->

<!-- jquery latest version -->




</html>